<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav" ng-class="vm.toggleClass ? 'collapse ' + vm.toggleClass: ''">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            
            <li ng-repeat="route in vm.routes">
                <a ng-href="{{route.path}}">
                    <i class="fa fa-fw" ng-class="route.class"></i>
                    {{route.name}}
                    <span ng-if="route.childs && route.childs.length > 0" class="fa arrow"></span>
                </a> 
                <ul ng-if="route.childs && route.childs.length > 0" class="nav nav-second-level">
                    <li ng-repeat="subRoute in route.childs">
                        <a ng-href="{{subRoute.path}}">{{subRoute.name}}</a>
                    </li>
                </ul>                               
            </li>              
                        
        </ul>
    </div>
</div>