language: node_js
node_js:
    - '4'
before_script:
    - npm install -g bower gulp nodemon tsc typings
    - bower install
    - typings install --ambient
    - gulp build
script: npm test
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8